<!-- <div class="card"> -->
  <!-- <div class="container"> -->
    
    <form #userlogin="ngForm" class="form-group bg-white" (ngSubmit)="login(userlogin.value)">
        <p class="alert alert-warning" *ngIf="loginFailed">Login failed. Email Id or password is wrong</p>  
        <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel>
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Password</label>
            <input type="password" class="form-control" name="password"  id="exampleInputPassword1" ngModel>
          </div>
      
          <button type="submit" class="btn btn-primary btn-sm form-control" value="submit">Sign In</button>
          <br>
          <br>
          <a href="/register" class="d-flex justify-content-center">Register for new user</a>
        </form>
        
      <!-- </div> -->
      <!-- </div> -->